body {
    background-color: white
}

header {
    background-color: #339966;
}

.searchDiv {
    width: 80%;
    margin: auto;
    background-color: grey;
    padding: 20px;
    margin-bottom: 50px;
}

.searchDivHeader {
    width: 80%;
    margin: auto;
    background-color: #339966;
    padding: 20px;
}

.articlesDiv {
    width: 80%;
    margin: auto;
    background-color: grey;
    padding: 20px;
}

.articlesDivHeader {
    width: 80%;
    margin: auto;
    background-color: #339966;
    padding: 20px;
}

h1 {
    margin-bottom: 15px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

h2 {
    font-family: 'Georgia';
    font-weight: bold;
}
  
p {
    text-align: center;
    font-size: 16px;
    font-family: 'Georgia';
}